*.bak
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.cproject
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
Thumbs.db
v8.log
vs-chromium-project.txt
/src/.clangd/
/src/.clangd-index/
# Settings directories for eclipse
/src/.externalToolBuilders/
/src/.settings/
/src/.vs/
# Visual Studio Code
.vscode/
/src/_out
/src/android_emulator_sdk
/src/ash/ash_unittests_run.xml
/src/base/base_unittests_run.xml
# See build/.gitignore for entries covering /src/build.

# The Chrome OS build creates a /c symlink due to http://crbug.com/54866.
/src/c
/src/cdm
/src/ceee/internal/
/src/chrome/android/profiles/afdo.prof
/src/chrome/android/profiles/local.txt
/src/chrome/angle_unittests_run.xml
/src/chrome/app/vector_icons/google_chrome/
/src/chrome/build/src/chrome.x64.orderfile
/src/chrome/build/src/chrome.x86.orderfile
/src/chrome/build/src/chrome_child.x64.orderfile
/src/chrome/build/src/chrome_child.x86.orderfile
/src/chrome/build/pgo_profiles/
/src/chrome/gl_tests_run.xml
/src/chrome/gles2_conform_test_run.xml
/src/chrome/tab_capture_performance_tests_run.xml
/src/chrome/telemetry_gpu_test_run.xml
/src/chrome/app/theme/default_100_percent/google_chrome
/src/chrome/app/theme/default_200_percent/google_chrome
/src/chrome/app/theme/google_chrome
/src/chrome/browser/src/chromeos/arc/voice_interaction/internal
/src/chrome/browser/src/chromeos/assistant/internal
/src/chrome/browser/src/chromeos/login/screenshot_testing/golden_screenshots/*.png
/src/chrome/browser/src/chromeos/login/screenshot_testing/artifacts
/src/chrome/browser/extensions/api/ledger/
/src/chrome/browser/extensions/default_extensions/src/chromeos
/src/chrome/browser/google/linkdoctor_internal
/src/chrome/browser/internal
/src/chrome/browser/media/engagement_internal
/src/chrome/browser/media/kaleidoscope/internal
/src/chrome/browser/performance_monitor/performance_monitor.xml
/src/chrome/browser/protector/internal
/src/chrome/browser/resources/src/chromeos/quickoffice
/src/chrome/browser/resources/pdf/html_office
/src/chrome/browser/resources/media_router/extension//src/
/src/chrome/browser/resources/media_router_internal/
/src/chrome/browser/resources/settings_internal/
/src/chrome/browser/resources/software_rendering_list
# Asset files downloaded by gclient runhooks.
/src/chrome/browser/resources/vr/assets/google_chrome/*.png
/src/chrome/browser/resources/vr/assets/google_chrome/*.wav
/src/chrome/browser/sharing/internal
/src/chrome/browser/spellchecker/internal
/src/chrome/browser/ui/media_router/internal
/src/chrome/browser_tests_run.xml
/src/chrome/src/chrome_cleaner/internal
/src/chrome/src/chrome_run.xml
/src/chrome/src/chrome_user32_delay_imports.xml
/src/chrome/src/chrome_version_resources.xml
/src/chrome/common/extensions/api/api.xml
/src/chrome/common/extensions/api/ledger/
/src/chrome/installer/linux/internal
/src/chrome/installer/mac/internal
/src/chrome/installer/mac/third_party/xz/xz
/src/chrome/installer/mini_installer.xml
/src/chrome/installer/mini_installer/mini_installer.aps
/src/chrome/installer/mini_installer/support
/src/chrome/installer/mini_installer_tests_run.xml
/src/chrome/installer_util_strings.xml
/src/chrome/interactive_ui_tests_run.xml
/src/chrome/services/soda/internal
/src/chrome/setup.xml
/src/chrome/setup_unittests.xml
/src/chrome/sync_integration_tests_run.xml
/src/chrome/test/android/telemetry_tests/browser_tests/*.wpr
/src/chrome/test/src/chromedriver/third_party/
/src/chrome/test/src/chromeos/autotest/files/client/deps/src/chrome_test/test_/src/
/src/chrome/test/src/chromeos/autotest/files/client/deps/page_cycler_dep/test_/src/
/src/chrome/test/src/chromeos/autotest/files/client/deps/perf_data_dep/test_/src/
/src/chrome/test/src/chromeos/autotest/files/client/deps/pyauto_dep/test_/src/
/src/chrome/test/src/chromeos/autotest/files/client/deps/telemetry_dep/test_/src/
/src/chrome/test/data/autofill/captured_sites
/src/chrome/test/data/extensions/api_test/permissions/nacl_enabled/bin
/src/chrome/test/data/firefox2_profile/searchplugins
/src/chrome/test/data/firefox2_searchplugins
/src/chrome/test/data/firefox3_profile/searchplugins
/src/chrome/test/data/firefox3_searchplugins
/src/chrome/test/data/gpu/vectortown_endurance/
/src/chrome/test/data/gpu/vt/
/src/chrome/test/data/layout_tests
/src/chrome/test/data/password/captured_sites
/src/chrome/test/data/pdf_private
/src/chrome/test/data/perf/canvas_bench
/src/chrome/test/data/perf/frame_rate/src/content
/src/chrome/test/data/perf/frame_rate/private
/src/chrome/test/data/perf/private/
/src/chrome/test/data/perf/third_party/
/src/chrome/test/data/plugin/
/src/chrome/test/data/vr/
/src/chrome/test/data/webrtc/resources
/src/chrome/test/data/xr/ar_playback_datasets/*.mp4
/src/chrome/test/data/xr/webvr_info/
/src/chrome/test/media_router/internal
/src/chrome/test/python_tests/
/src/chrome/src/tools/memory
/src/chrome/src/tools/test/reference_build
/src/chrome/unit_tests_run.xml
/src/chrome/web_ui_mojo_bindings.xml
/src/chromecast/internal
/src/chromeos/assistant/internal
/src/chromeos/src/components/help_app_ui/resources/app
/src/chromeos/src/components/help_app_ui/resources/prod
/src/chromeos/src/components/media_app_ui/resources/prod
/src/chromeos/src/components/media_app_ui/resources/app
/src/chromeos/src/components/media_app_ui/resources/pkg
/src/chromeos/profiles/src/chromeos.orderfile.txt
/src/chromeos/profiles/*.local.txt
/src/chromeos/profiles/*.afdo.prof
/src/cipd_cache/
/src/clank
/src/cloud_print/cloud_print_version_resources.xml
/src/components/src/chrome_settings_proto_generated_compile.xml
/src/components/cloud_policy_proto_generated_compile.xml
/src/components/gcm_driver.xml
/src/components/leveldb_proto_test_support.xml
/src/components/ntp_tiles/resources/internal
/src/components/rappor.xml
/src/components/resources/default_100_percent/google_chrome
/src/components/resources/default_200_percent/google_chrome
/src/components/resources/default_300_percent/google_chrome
/src/components/search_engines/prepopulated_engines.xml
/src/components/site_isolation/internal
/src/components/suggestions.xml
/src/components/test/data/paint_preview/**/*.pb
/src/components/test/data/paint_preview/**/*.skp
/src/components/variations.xml
/src/components/zucchini/testdata/*.exe
/src/content/browser/service_worker/proto.xml
/src/content/src/content_browsertests_run.xml
/src/content/src/content_common_mojo_bindings.xml
/src/content/src/content_unittests_run.xml
/src/content/test/data/gpu/generated/
/src/content/test/data/gpu/gpu_reference/
/src/content/test/data/layout_tests/
/src/content/test/data/plugin/
/src/content/web_ui_test_mojo_bindings.xml
/src/data
/src/delegate_execute
/src/device/serial/device_serial_mojo.xml
/src/google_apis/gcm/gcm.xml
/src/google_apis/internal
/src/googleurl
/src/gpu/gles2_conform_test
/src/infra/.recipe_deps
/src/ios/third_party/earl_grey/src
/src/ios/third_party/earl_grey2/src
/src/ios/third_party/edo/src
/src/ios/third_party/fishhook/src
/src/ios/third_party/gcdwebserver/src
/src/ios/third_party/gtx/src
/src/ios/third_party/material_components_ios/src
/src/ios/third_party/material_font_disk_loader_ios/src
/src/ios/third_party/material_internationalization_ios/src
/src/ios/third_party/material_roboto_font_loader_ios/src
/src/ios/third_party/material_sprited_animation_view_ios/src
/src/ios/third_party/material_text_accessibility_ios/src
/src/ios/third_party/motion_animator_objc/src
/src/ios/third_party/motion_interchange_objc/src
/src/ios/third_party/motion_transitioning_objc/src
/src/ios/third_party/ochamcrest/src
/src/ios/third_party/webkit/src
/src/ios_internal
/src/libassistant
/src/libinteraction
/src/llvm
/src/media/cast/logging/cast_logging_proto_lib.xml
/src/media/cdm/api
/src/media/media_mojo_bindings.xml
/src/media/test/data/internal
/src/metro_driver
/src/mojo/internal
/src/net/Debug
/src/net/net_derived_sources.xml
/src/net/net_unittests_run.xml
/src/net/Release
/src/net/testserver.log
/src/net/third_party/quiche/src
/src/orderfiles
/src/out*/
/src/ppapi/native_client/nacl_irt.xml
/src/ppapi/native_client/ppapi_lib.xml
/src/remoting/android/internal/
/src/remoting/appengine/
/src/remoting/host/installer/linux/internal/
/src/remoting/src/ios/internal/
/src/remoting/internal/
/src/remoting/proto/chromotocol_proto_lib.xml
/src/remoting/src/remoting_core_resources.xml
/src/remoting/src/remoting_elevated_controller.xml
/src/remoting/src/remoting_host.xml
/src/remoting/src/remoting_host_event_logger.xml
/src/remoting/src/remoting_host_installation.xml
/src/remoting/src/remoting_host_messages.xml
/src/remoting/src/remoting_infoplist_strings.xml
/src/remoting/src/remoting_lib_idl.xml
/src/remoting/src/remoting_lib_rc.xml
/src/remoting/src/remoting_me2me_host.xml
/src/remoting/src/remoting_native_messaging_manifests.xml
/src/remoting/src/remoting_version_resources.xml
/src/remoting/src/remoting_windows_resources.xml
/src/remoting/test/internal/
/src/remoting/src/tools/internal/
/src/remoting/webapp/app_remoting/internal/
/src/sandbox/linux/seccomp-legacy/
/src/seccompsandbox
/src/signing_keys
/src/skia/src/tools/clusterfuzz-data/
/src/sql/sql_unittests_run.xml
/src/sync/sync.xml
/src/testing/libfuzzer/fuzzer_corpus_for_bots/
/src/testserver.log
# See third_party/.gitignore for entries covering /src/third_party.

/src/tools/.bisect-builds-cache.json
/src/tools/cygprofile/*.wprgo
/src/tools/clang/dsymutil/bin/dsymutil
/src/tools/distcc
/src/tools/gn/bin/linux
/src/tools/gn/bin/mac
/src/tools/gn/bin/win
/src/tools/histograms
/src/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
/src/tools/metrics/actions/actions.old.xml
/src/tools/metrics/histograms/histograms.before.pretty-print.xml
/src/tools/metrics/histograms/enums.before.pretty-print.xml
/src/tools/page_cycler/acid3
/src/tools/skia_goldctl/
/src/tools/swarming_client
/src/tools/tryserver
/src/tools/win/link_limiter/build
/src/ui/file_manager/internal
/src/ui/keyboard/keyboard_mojom_bindings.xml
/src/ui/surface/surface.xml
/src/ui/surface/surface_gpu_tests.xml
/src/ui/webui/internal
/src/v8
/src/webkit/data
/src/webpagereplay_logs/
/src/x86-generic_out/
/src/xcodebuild

# Ignore any Android RenderTest goldens
**/render_tests/*.png

# Ignore any WPR archive files
**/wpr_tests/*.wprgo

# Ignore IntelliJ files.
src.idea/

# Ignore the default results output directory for tools/run-swarmed.py
/src/results