<style include="print-management-shared">
  /* Override focus CSS for selectable items. */
  .list-item:focus,
  .list-item > :focus {
    background-color: var(--google-blue-50);
    outline: none;
  }

  .list-item {
    min-height: 40px;
    padding: 0;
  }

  #cancelPrintJobButton {
    margin-inline-start: 4px;
  }

  #fileIcon {
    margin-inline-start: 12px;
    margin-inline-end: 16px;
  }

  #numericalProgress {
    color: var(--google-blue-600);
    margin-inline-end: 16px;
  }

  #printProgress {
    margin-top: 0px;
  }

  paper-progress {
    --paper-progress-active-color: var(--google-blue-600);
    --paper-progress-container-color: rgba(var(--google-blue-600-rgb), .24);
    margin-top: 5px;
    width: 72px;
  }
</style>
<div focus-row-container>
  <!-- TODO(crbug/1073693): Update the a11y based on expert guidance -->
  <div class="list-item flex-center"
      focus-row-control
      focus-type="rowWrapper"
      aria-label$="[[jobEntryAriaLabel_]]">
    <iron-icon id="fileIcon" class="flex-center"
        icon="[[getFileIcon_(jobTitle_)]]" alt="">
    </iron-icon>
    <div id="jobTitle" class="long-text overflow-ellipsis" aria-hidden="true">
      [[jobTitle_]]
    </div>
    <div id="printerName"
        class="medium-text overflow-ellipsis padded-left" aria-hidden="true">
      [[printerName_]]
    </div>
    <div id="creationTime" class="short-text overflow-ellipsis padded-left"
        aria-hidden="true">
      [[creationTime_]]
    </div>

    <template is="dom-if" if="[[isCompletedPrintJob_(jobEntry)]]" restamp>
      <div id="completionStatus"
          class="medium-text overflow-ellipsis padded-left"
          aria-hidden="true">
        [[completionStatus_]]
      </div>
    </template>

    <template is="dom-if" if="[[!isCompletedPrintJob_(jobEntry)]]" restamp>
      <div id="activeStatusContainer" class="padded-left flex-center"
          aria-hidden="true">
        <div id="numericalProgress">[[readableProgress_]]</div>
        <paper-progress
            value="[[computePrintPagesProgress_(
                jobEntry.activePrintJobInfo.printedPages,
                jobEntry.numberOfPages)]]">
        </paper-progress>
        <cr-icon-button id="cancelPrintJobButton" class="icon-cancel"
            on-click="onCancelPrintJobClicked_">
        </cr-icon-button>
      </div>
    </template>
  </div>
</div>
